*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./images/maClinique.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}

header{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.font{
    display: flex;
}

.btn{
    padding: 1rem 1rem;
    background: #e3b350;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}